$primary: #ef8354;
$secondary: #2d3142;
$tertiary: #4f5d75;
$backgound: #f0f0f0;

$white: #fff;
$black: #000;
$gray-lighter: #bfc0c0;
$gray-dark: #333;

$alert: #ebbd3f;
$danger: #eb4a3f;
$success: #3feb6a;
