/* You can add global styles to this file, and also import other style files */
@import "./styles/colors.variables.scss";
@import "./styles/screen.mixin.scss";
@import "./styles/input.styles.scss";
@import "./styles/button.styles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5% /*10px = 1rem */;
}

body {
  min-height: 100vh;
  background-color: $backgound;
  font-size: 1.6rem;
}

.g-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-display-none {
  display: none;
}
