@import "src/styles/colors.scss";
@import "src/styles/button.scss";
@import "src/styles/input.scss";

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
