@import "src/styles/colors.scss";

.recorrentes {
  &__filtros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 24px 0;
    // Filtro por meses não tem sentido estar aqui
    // Esta pagina serve somente para cadastro e edicao das contas recorrentes
    //    o controle mensal deve estar em outra pagina

    //   &--meses {
    //     display: flex;
    //     align-items: center;
    //     font-size: 1.5rem;
    //     font-weight: 400;

    //     i {
    //       color: $primary;
    //       font-weight: bold;
    //       cursor: pointer;
    //     }

    //     span {
    //       display: flex;
    //       align-items: center;

    //       i {
    //         font-size: 22px;
    //         font-weight: normal;
    //       }
    //     }
    //   }
  }
}
